# listings/templates/listings/band_detail.html

{% extends 'listings/base.html' %}

{% block content %}

<h2>{{ band.name }}</h2>

<ul>
 <li>Titre : {{ listing.title }}</li>
 <li>Description : {{ listing.description }}</li>
 <li>Vendu : {{ listing.sold|yesno }}</li>
 {% if listing.year %}
 <li>{{ listing.year }}</li>
 {% endif %}
 <li>Type : listing.type</li>
 <li>Groupe associé : listing.band</li>
 <li><a href="{% url 'band-detail' listing.id %}">Lien vers le groupe</a></li>
 <li>{{ band.biography }}</li>
</ul>
<a href="{% url 'listing-delete' listing.id %}">Supprimer cet article</a>
{% endblock %}